body{
    font-family: 'Roboto', sans-serif;
}

input{
    background: #fff;
}

hr{
    height: 1px;
    background-color: #F1F3F6;
    margin-bottom: 20px;
}

/*header*/

header{
    height: 30px;
}


/*section*/

.wrap{
    min-height: 960px;
    margin: 0 5px;
}

.wrap_theme-island{
    background-color: #05145A;
}

.wrap_border{
    border-radius: 30px;
}

.container{
    max-width: 350px;
    margin: 0 auto;
}

.info-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 63px;
    column-gap: 30px;

}

.info-block__item{
    display: flex;
    align-items: center;
    margin-top: -65px;
    border-radius: 10px;
}

.info-block__item_view{
    background-color: #fff;
    box-shadow: 0px 4px 24px rgba(58, 65, 74, 0.1);
}

.item__number{
    border-radius: 15px;
    padding: 15px 20px;
    margin: 0 25px;
}

.item__number_view{
    background-color: #081456;
}

.number{
    font-size: 22px;
}

.number_view{
    color: #FAFAFB;
}

.item__text{
    line-height: 180%;
}

.text{
    font-size: 16px;
}

.text_view{
        color:#000000;
}

.title{
    align-items: center;
    text-align: center;
}

.title_view{
    color: #FFFFFF;
}

.title__text{
    font-size: 26px;
    line-height: 40px;
    padding-top: 15px;
}

.calc-block{
    margin: 0 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(450px, auto);
    row-gap: 10px;
}


.application-text{
    color: #fff;
    font-size: 14px;
    border:1px solid #F1F3F6;
    padding: 15px 20px;
    border-radius: 8px;
    margin: 10px 0;
}

.application-link{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}

.button-switch{
    display: flex;
}

.button-switch__text{
    font-size: 15px;
    display: flex;
    align-items: center;
}

.button-switch__text_view{
    color: #FFFFFF;
}

.button-switch__checkbox{
    margin: 0 10px;
    position: relative;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    border-radius: 25px;
}

.button-switch__checkbox::before{
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background: #015aff;
    border-radius: 20px;
    top: 2px;
    left: 4px;
}

input:checked[class="button-switch__checkbox"]::before{
    left: 25px;
}

.form-group{
    width: 335px;
}

.form-input{
    background-color: #fff;
    padding: 20px;
    width: 100%;
    height: 55px;
    border-radius: 4px;
    margin: 15px 0;
    box-shadow: 0px 15px 30px rgba(15, 35, 225, 0.4);
}

.form-range{
    display: block;
    margin-top: -23px;
    width: 100%; 
}

.form-text{
    padding-top: 5px;
    color: #fff;
    font-size: 12px;
}

.under-form-text{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


.calc-block__content{
    margin-bottom: 50px;
    width: 335px;
    height: 600px;
    border-radius: 12px;
    z-index: 3;
}

.calc-block__content_view{
    background-color:#FFFFFF;
    box-shadow: 0px 20px 60px rgba(15, 35, 225, 0.6);
}

.content-block{
    margin: 60px 50px;
}

.content-text{
    font-size: 12px;
    line-height: 180%;
    text-transform: uppercase;
    color: #26262C;
    opacity: 0.5;
}

.content-title{
    margin-top: 6px;
    margin-bottom: 30px;
    font-size: 31px;
    line-height: 27px;
    color: #26262C;
    text-transform: uppercase;
}

.content-subtitle{
    line-height: 27px;
    color: #26262C;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.checkbox-block{
    display: flex;
}

.checkbox-block__text{
    margin-left: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #26262C;
}

.checkbox-block__link{
    margin-right: 5px;
    border-bottom: 1px solid #0F23E1;
    color: #0F23E1;
}

.copy-text{
    color: #71717A;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 11px;
    line-height: 130%;
}

.button-to-send{
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #0F23E1;
    border-radius: 10px;
    padding: 12px 64px;
}

.pseudo-block{
    margin: -68px auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.pseudo-block_first{
    width: 320px;
    height: 35px;
    z-index: 2;
}

.pseudo-block_second{
    width: 300px;
    height: 40px;
    margin-top: 38px;
    z-index: 1;
}


/*footer*/

footer{
    height: 40px;
}


@media only screen and (max-width: 767px) {
    .info-block{
        display: none;
    }
}

@media only screen and (min-width: 1180px) {

    header{
        height: 112px;
    }

    .wrap{
        min-height: 960px;
        margin: 0;
    }

    .container{
        max-width: 1220px;
    }

    .title{
        margin: 100px auto 60px auto;
    }

    .title__text{
        font-size: 40px;
        line-height: 50px;
        padding-top: 0;
    }

    .calc-block{
        margin: 0 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 56px;
    }
    
    .button-switch__text{
        font-size: 16px;
    }

    .form-group{
        width: 100%;
    }

    .calc-block__content{
        width: 450px;
    }

    .button-to-send{
        font-size: 16px;
        padding: 21px 105px;
    }

    .pseudo-block{
        margin: -10px auto;
    }
    
    .pseudo-block_first{
        width: 410px;
        height: 35px;
    }
    
    .pseudo-block_second{
        width: 380px;
        height: 65px;
        margin-top: -50px;
    }

    footer{
        height: 40px;
    }
}

